
<% obj.each do |snipit| %>
	<div class="post_wrapper">
		<div class="row">
            <div class="col-2">			
            	<h2 class="title"> <%= link_to snipit.title, snipit %> </h2>
				<p class="date"> <%= snipit.created_at.strftime("%B %d, %Y") %></p>
                <!-- I need to replace the line below with the actual users path & Username -->
                <!--<p class="date"> Created by: <%= link_to "#{snipit.user}", snipits_path %></p> -->
			</div> 
			<div class="peaceout">
            <div class="col-1">            	
            </div> 
            <div class="col-2">
            	<p>Preview </p>
            	<div class="well" style="overflow-y: scroll; height:140px; border: #d6dce0 3px groove;">	        
	            	<p class="body">
						<%= snipit.body %>
						<label for="website"></label>
						<input  data-copytarget="#snipit_body" readonly type="text" id="snipit_body" value="<%= snipit.body %>">
					</p>
				</div>
				<button class="button" data-copytarget="#snipit_body" style="padding: .6em 0.5em;">Click To Copy </button>
            </div> 
        </div>
        </div> 
	</div>
<% end %>
