<div id="post_content">
	<h1 class="title">
		<%= @snipit.title %>
	</h1>

	<p class="date">
		Submitted <%= time_ago_in_words(@snipit.created_at) %> Ago 
		<% if user_signed_in? && current_user == @snipit.user %>
		| <%= link_to "Edit", edit_snipit_path(@snipit) %>
		| <%= link_to "Delete", snipit_path(@snipit), method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end  %>
	</p>

	<p class="body">
		<%= @snipit.body %>
	</p>

	<button class="button" data-copytarget="#snipit_body" style="padding: .6em 0.5em;">Click To Copy </button>


<label for="website"></label>
<input style="width:45%;" data-copytarget="#snipit_body" readonly type="text" id="snipit_body" value="<%= @snipit.body %>">


	<div id="comments">
		<h2><%= @snipit.comments.count%> Comments</h2>
			<%= render @snipit.comments %>
		<% if user_signed_in? %>
		<h3>Add a comment:</h3>
		<%= render 'comments/form' %>
		<% end %>
	</div>

</div>

<script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout-53beeb1a007ec32040abaf4c9385ebfc.js"></script>
<script>(function () {
    'use strict';
    document.body.addEventListener('click', copy, true);
    function copy(e) {
        var t = e.target, c = t.dataset.copytarget, inp = c ? document.querySelector(c) : null;
        if (inp && inp.select) {
            inp.select();
            try {
                document.execCommand('copy');
                inp.blur();
                t.classList.add('copied');
                setTimeout(function () {
                    t.classList.remove('copied');
                }, 1500);
            } catch (err) {
                alert('please press Ctrl/Cmd+C to copy');
            }
        }
    }
}());
//# sourceURL=pen.js
</script>