
<%= form_for(@timeclock) do |f| %>
  <% if @timeclock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeclock.errors.count, "error") %> prohibited this timeclock from being saved:</h2>

      <ul>
      <% @timeclock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour_in %><br>
    <%= f.number_field :hour_in %>
  </div>
  <div class="field">
    <%= f.label :minutes_in %><br>
    <%= f.number_field :minutes_in %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
