<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "pbhs_logo.png" %>
		<% end %>
	</div>

	<ul>
		<li class="category"> Website</li>
		<li> <%= link_to "PBHS Shortcodes", pbhs_path %></li>
		<li> <%= link_to "How To Use", about_path %></li>
	</ul>

	<ul>
		<li class="category"> Categories</li>
		<li><%= link_to "All Snippits", snipits_path %></li>
		<li><a href="#">Web Development</a></li>
		<li><a href="#">Sales</a></li>
		<li><a href="#">SEO</a></li>
		<li><a href="#">Graphic Design</a></li>
		<li><a href="#">Account Managers</a></li>
		<li><a href="#">Support</a></li>

	</ul>
	<p class="sign_in">User Login</p>
</div>
